---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import NavHeader from "../components/NavHeader.astro";
import FormattedDate from "../components/FormattedDate.astro";

type Props = CollectionEntry<"blog">["data"] & {
  headings: { depth: number; slug: string; text: string }[];
};

const { title, description, pubDate, updatedDate, heroImage, headings } =
  Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
    <style></style>
  </head>

  <body>
    <main>
      <NavHeader />
      <div
        class="fixed left-12 top-30 <lg:hidden flex flex-col text-gray-5 text-14px max-w-25%"
      >
        <div class="py2">索引</div>
        {
          headings.map((h) => (
            <a
              class={`py-2 hover:text-gray-7 line-height-5`}
              style={{ paddingLeft: (h.depth - 2) * 16 + "px" }}
              href={"#" + h.slug}
            >
              {h.text}
            </a>
          ))
        }
      </div>
      <article class="max-w-65ch mx-auto pt30 <md:mx-8 <lg:pt-20">
        <div>
          <p class="text-2xl font-bold">{title}</p>
          <p class="mt4 text-gray-4"><FormattedDate date={pubDate} /></p>
        </div>
        <div class="prose prose-zinc">
          <slot />
        </div>
      </article>
    </main>
  </body>
</html>
